.app-fab .mdc-fab {
  position: fixed;
}

.app-fab .mdc-fab:first-child {
  right: 18px;
  bottom: 18px;
}

.app-fab .mdc-fab--mini {
  right: 26px;
}

.app-fab .mdc-fab:nth-child(2) {
  bottom: 86px;
}

.app-fab .mdc-fab:nth-child(3) {
  bottom: 138px;
}

.app-fab .mdc-fab:nth-child(4) {
  bottom: 190px;
}

.app-fab .mdc-fab:nth-child(5) {
  bottom: 242px;
}
